> To teach is not to transfer knowledge but to create the
> possibilities for the production or construction of knowledge.
> 
> - Paulo Freire

I see teaching in the dynamic Information Age as a collective activity, or dialogue between participants. My objectives as a university teacher are to develop enriched environments that promote active learning, challenge participants with modern methods and technologies that foster innovation, and empower students with evidence-based practices to facilitate their learning as a life-long endeavor.

I see student fluency in contemporary technologies and media as a major asset in the classroom, and encourage students to build from those strengths. I also encourage students to embrace "making mistakes" as a core learning tenet, whether practising coding or composition. Mastering the art of troubleshooting is something we can all aspire to!

---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
